/*Colors Used:
Primary Color (cream): #F5F0ED
Secondary Color (pink): #D6B7B5
Secondary Color (dark teal): #3D5361
Tertiary Color (tan): #D4C6BD
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #3D5361;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 500;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #F5F0ED;
  /*body text color*/
  padding-top: 100px
}

a {
  color: #D4C6BD;
  /* Phone number - No underlining */
  text-decoration: none;
}

/* SVG image animation*/
@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

#montivagant-picture {
  display: flex;
  justify-content: flex-start;
  align-self: flex-end;
}

#montivagant-text {
  justify-content: flex-start;
  align-items: flex-start;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* button states*/
a:visited {
  color: #F5F0ED;
  /* navigation and inside button text color */
}

a:hover {
  color: #D6B7B5;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:hover,
a:focus {
  color: #D6B7B5;
  text-decoration: underline;
}

a:active {
  /* selected link */
  color: #D6B7B5;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.50em;
  font-weight: 700;
  color: #F5F0ED;
  /* Hi,my name is... and About text color */
  font-variant: small-caps;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  color: #F5F0ED;
  /* Subtitle2 (My Work, Get in touch, etc) text color */
  font-variant: small-caps;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
  color: #F5F0ED;
  /* Subtitle3 (Montivagant/Bucket List, skills, tools, etc) text color */
  font-variant: small-caps;
}

h4 {
  font-size: 1.35em;
  font-weight: 600;
  color: #F5F0ED;
  /* ? text color */
  font-variant: small-caps;
}

img {
  width: 100%;
}

/*about page photo*/
.centeredImg {
  width: 200px;
  padding: 10px 0 0 0;
  display: block;
  margin: 0 auto;
}

.button.myresume {
  background-color: #F6F6F6;
  /* background color of resume button*/
  color: #408697;
  /* text color of resume button*/
  margin-top: 20px;
  font-weight: 300;
  text-transform: uppercase;
  border: 2px solid #F6F6F6;
  /* border color of resume button*/
}

.button.myresume:hover {
  background-color: #F6F6F6;
  /* background color of resume button*/
  color: #D6B7B5;
  /* text color of resume button*/
  margin-top: 20px;
  font-weight: 300;
  text-decoration: underline;
}

.button.bucketlist {
  color: #408697;
  /* text color of bucketlist button*/
  margin-top: 20px;
  font-weight: 300;
  text-transform: uppercase;
  /* border color of resume button*/
}

.button.bucketlist:hover {
  color: #D6B7B5;
  /* text color of bucketlist button*/
  margin-top: 20px;
  font-weight: 300;
}

.button.montivagant {
  color: #408697;
  /* text color of montivagant button*/
  margin-top: 20px;
  font-weight: 300;
  text-transform: uppercase;
  /* border color of resume button*/
}

.button.montivagant:hover {
  color: #D6B7B5;
  /* text color of montivagant button*/
  margin-top: 20px;
  font-weight: 300;
}

.button {
  display: inline-block;
  background-color: #F6F6F6;
  /* background color of other buttons*/
  color: #408697;
  /* text color of other buttons (except montivagant and bucket list)*/
  font-weight: 300;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #F6F6F6;
  /* border color of other buttons*/
  transition: 0.2s opacity;
}

.button:hover {
  color: #D6B7B5;
  opacity: 0.8;
}

/* Layout styling for index */
.container {
  padding: 0 15px;
}

.sociallinks {
  padding: 20px 15px 0 15px;
  text-align: center;
}

#home .row {
  padding-top: 50px;
  border-bottom: 1px solid #3D5361;
  margin: 25px 0;
  width: 100%;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #3D5361;
  margin: 25px 0;
  width: 100%;
}

#about .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #3D5361;
  margin: 0px;
  width: 100%;
}

#hero .row {
  background-color: #3D5361;
  display: inline-block;
  width: 100%;
  text-align: center;

  span {
    display: block;
  }
}

.center {
  text-align: center;
}

.logo {
  max-width: 75px;
  height: 75px;
  float: left;
}

header {
  display: inline-block;
  background-color: #3D5361;
  text-align: center;
  width: 100%;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(236, 236, 236, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(236, 236, 236, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(236, 236, 236, 0.75);
  position: fixed;
  top: 0px;
}

nav>ul {
  list-style-type: none;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 15px 10px 0 10px;
  text-transform: uppercase;
  font-weight: 300;
  color: #F5F0ED;
}

nav>ul>li>a:active {
  padding: 15px 10px 0 10px;
  text-transform: uppercase;
  font-weight: 300;
  color: #F5F0ED;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 10px;
    border: 10px;
  }

  #about h3 {
    margin-top: 0;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
    width: 100%;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 70%;
  }

  .col-md-5 {
    width: 30%;
  }

  .col-md-12 {
    width: 100%;
  }

  * {
    box-sizing: border-box;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 10px;
    border: 10px;
  }

  #about h3 {
    margin-top: 0;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 70%;
  }

  .col-lg-5 {
    width: 30%;
  }

  .col-lg-12 {
    width: 100%;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 0px;
    border: 10px;
  }

  #about h3 {
    margin-top: 0;
  }
}
