/*Colors Used:
Primary Color (Purple): #6E3667
Secondary Color (White): #FFFFFF
Secondary Color (Lime Green): #88D317
Tertiary Color (Dark Purple): #1A0315
Tertiary Color (Gray): #535353
*/

    body {
      font-family: 'Raleway', sans-serif;
    }
    code {
      color: red;
      background-color: lightgreen;
    }
